<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_movie_app.repository.mybatis.MovieMapper">

    <resultMap id="Movie" type="com.example.spring_movie_app.domain.Movie" >
        <id property="movieId" column="movie_id" />
        <result property="userId" column="user_id" />
        <result property="movieName" column="movie_name" />
        <result property="addDate" column="add_date" />
        <result property="movieComment" column="movie_comment" />
        <result property="movieEval" column="movie_eval" />
        <result property="movieGenre" column="movie_genre" />
        <result property="deleteFlag" column="delete_flag" />
    </resultMap>

    <select id="findAll" resultMap="Movie">
        SELECT * FROM movie
        WHERE user_id = #{userId}
        AND delete_flag = 0
    </select>

    <select id="findOne" resultMap="Movie">
        SELECT * FROM movie
        WHERE movie_id = #{movieId}
        AND delete_flag = 0
    </select>

    <insert id="add" parameterType="com.example.spring_movie_app.domain.Movie" useGeneratedKeys="true" keyProperty="movieId">
        INSERT INTO movie (user_id, movie_name, add_date, movie_comment, movie_eval, movie_genre)
        VALUES(#{userId}, #{movieName}, #{addDate}, #{movieComment}, #{movieEval}, #{movieGenre})
    </insert>

    <update id="updateOne" parameterType="com.example.spring_movie_app.domain.Movie">
        UPDATE movie
        SET
        movie_name = #{movieName},
        add_date = #{addDate},
        movie_comment = #{movieComment},
        movie_eval = #{movieEval},
        movie_genre = #{movieGenre}
        WHERE movie_id = #{movieId}
    </update>

    <delete id="deleteOne" parameterType="com.example.spring_movie_app.domain.Movie">
        DELETE FROM movie
        WHERE movie_id = #{movieId}
    </delete>

<!--    <sql id="timestampVariable">-->
<!--        <bind name="sysdate" value="@java.time.LocalDateTime@now()"/>-->
<!--    </sql>-->
</mapper>