<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment"></head>
<body>
    <header th:replace="common/home-header :: header_fragment"></header>
    <h1>映画の編集</h1>
    <form th:action="@{/movie/{movieId}/update(movieId=${movieId})}" method="post" th:object="${editForm}">
        <p>鑑賞日</p>
        <p th:if="${#fields.hasErrors('addDate')}" th:errors="*{addDate}" th:errorclass="err" ></p>
        <input type="date" th:value="*{addDate}" th:field="*{addDate}" th:errorclass="err" />
        <br />
        <p>映画名</p>
        <p th:if="${#fields.hasErrors('movieName')}" th:errors="*{movieName}" th:errorclass="err" ></p>
        <input type="text" th:value="*{movieName}" th:field="*{movieName}" th:errorclass="err" />
        <br />
        <p>ジャンル</p>
        <p th:if="${#fields.hasErrors('movieGenre')}" th:errors="*{movieGenre}" th:errorclass="err" ></p>
        <select th:field="*{movieGenre}">
            <option th:selected="*{movieGenre} == 'action'" value="action" >action</option>
            <option th:selected="*{movieGenre} == 'SF'" value="SF" >SF</option>
            <option th:selected="*{movieGenre} == 'horror'" value="horror" >horror</option>
        </select>
        <p>ひとこと</p>
        <p th:if="${#fields.hasErrors('movieComment')}" th:errors="*{movieComment}" th:errorclass="err" ></p>
        <input type="text" th:value="*{movieComment}" th:field="*{movieComment}" th:errorclass="err" />
        <br />
        <p>評価</p>
        <p th:if="${#fields.hasErrors('movieEval')}" th:errors="*{movieEval}" th:errorclass="err" ></p>
        <div class="evaluation">
            <input id="star1" type="radio" th:field="*{movieEval}" value="5" />
            <label for="star1">★</label>
            <input id="star2" type="radio" th:field="*{movieEval}" value="4" />
            <label for="star2">★</label>
            <input id="star3" type="radio" th:field="*{movieEval}" value="3" />
            <label for="star3">★</label>
            <input id="star4" type="radio" th:field="*{movieEval}" value="2" />
            <label for="star4">★</label>
            <input id="star5" type="radio" th:field="*{movieEval}" value="1" />
            <label for="star5">★</label>
            <p th:if="${#fields.hasErrors('movieEval')}" th:errors="*{movieEval}" th:errorclass="err" ></p>
        </div>
        <input type="submit" value="更新">
    </form>
    <form th:action="@{/movie/{movieId}/delete(movieId=${movieId})}" method="post">
        <input type="submit" value="削除">
    </form>
    <footer th:replace="common/footer :: footer_fragment"></footer>
</body>
</html>