@charset "UTF-8";
/*================================
    Variables
=================================*/
/*====== カラーパレット ======*/
/*================================
    Functions
=================================*/
/*================================
    General
=================================*/
body {
  font-family: "ヒラギノ角ゴシック体", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main {
  flex: 1;
  background: #F2F2F2;
}

a {
  text-decoration: none;
  color: black;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}
.btn-wrap a {
  color: #000;
  padding: 15px 60px;
  border: 1px solid;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.err {
  color: red;
  font-size: 13px;
}

/*================================
    header
=================================*/
header .pc-header-wrapper {
  height: 100px;
  background: #fff;
  padding-left: 150px;
  padding-right: 150px;
  border-bottom: solid 1px #e3e3e3;
}
@media screen and (max-width: 520px) {
  header .pc-header-wrapper {
    display: none;
  }
}
header .pc-header-wrapper .pc-header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
@media screen and (max-width: 520px) {
  header .pc-header-wrapper .pc-header-container {
    display: none;
  }
}
header .pc-header-wrapper .pc-header-container .header-logo {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
}
header .pc-header-wrapper .pc-header-container .nav-global {
  display: flex;
  padding-top: 25px;
}
header .pc-header-wrapper .pc-header-container .nav-global .nav-global-item {
  padding-left: 50px;
  font-size: 15px;
}
header .pc-header-wrapper .pc-header-container .nav-global .nav-global-item a:hover {
  opacity: 0.8;
}
header .pc-header-wrapper .pc-header-container .nav-global .nav-global-item input[type=submit] {
  background: white;
  border: none;
  cursor: pointer;
}
header .pc-header-wrapper .pc-header-container .nav-global .nav-global-item input[type=submit]:hover {
  opacity: 0.6;
}
header .sp-header-wrapper {
  display: none;
}
@media screen and (max-width: 520px) {
  header .sp-header-wrapper {
    display: block;
    height: 100px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px #e3e3e3;
  }
}
header .sp-header-wrapper .sp-header-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .sp-header-wrapper .sp-header-container .header-logo {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
}
header .sp-header-wrapper .sp-header-container .menu-btn {
  font-size: 23px;
}
header .sp-header-wrapper .sp-header-container .nav-global {
  display: flex;
  padding-top: 15px;
}
header .sp-header-wrapper .sp-header-container .nav-global .nav-global-item {
  padding-left: 25px;
  font-size: 14px;
}
header .sp-header-wrapper .sp-header-container .nav-global .nav-global-item input[type=submit] {
  background: white;
  border: none;
}

.menu-wrapper {
  display: none;
}
@media screen and (max-width: 520px) {
  .menu-wrapper {
    display: block;
    position: fixed;
    right: 0;
    width: 60%;
    height: 100%;
    background: white;
    overflow-y: scroll;
    transform: translateX(800px);
    pointer-events: none;
    transition: transform 0.8s;
    z-index: 200;
  }
  .menu-wrapper.show {
    transition: transform 0.5s;
    pointer-events: auto;
    transform: none;
  }
  .menu-wrapper .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-wrapper .menu-container .menu-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
  }
  .menu-wrapper .menu-container .menu-header .menu-logo {
    font-size: 25px;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 18px;
    padding-top: 25px;
  }
  .menu-wrapper .menu-container .menu-header .menu-close {
    font-size: 25px;
    padding-right: 20px;
    padding-top: 30px;
  }
  .menu-wrapper .menu-container .nav-global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu-wrapper .menu-container .nav-global li {
    padding: 15px 0;
    border-bottom: solid 1px;
    width: 100%;
    text-align: center;
  }
}

.overlay {
  display: none;
}
@media screen and (max-width: 520px) {
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease 0s;
  }
}
.overlay.show {
  opacity: 0.8;
  pointer-events: auto;
}

/*================================
    footer
=================================*/
footer {
  width: 100%;
  height: 150px;
  background: #fff;
}
@media screen and (max-width: 520px) {
  footer {
    height: 150px;
  }
}
@media screen and (max-width: 520px) {
  footer .footer-wrapper {
    border-top: solid 1px #e3e3e3;
  }
}
footer .footer-wrapper .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
@media screen and (max-width: 520px) {
  footer .footer-wrapper .footer-container {
    padding-top: 70px;
  }
}
footer .footer-wrapper .footer-container .footer-logo {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
}
@media screen and (max-width: 520px) {
  footer .footer-wrapper .footer-container .footer-logo {
    font-size: 20px;
  }
}
footer .footer-wrapper .footer-container .footer-copyright {
  font-size: 15px;
}
@media screen and (max-width: 520px) {
  footer .footer-wrapper .footer-container .footer-copyright {
    font-size: 12px;
  }
}

/*================================
    index.html
=================================*/
.header-img-wrapper {
  position: relative;
  width: 100%;
  height: 800px;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper {
    height: calc(100vh - 100px);
  }
}
.header-img-wrapper .text-wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  color: white;
  top: 33%;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper .text-wrapper {
    top: 35%;
  }
}
.header-img-wrapper .text-wrapper h2 {
  font-size: 45px;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper .text-wrapper h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
.header-img-wrapper .text-wrapper h4 {
  font-size: 28px;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper .text-wrapper h4 {
    font-size: 20px;
  }
}
.header-img-wrapper .img-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.header-img-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-img-wrapper .btn-wrapper {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 57%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper .btn-wrapper {
    top: 54%;
  }
}
.header-img-wrapper .btn-wrapper .btn-border {
  border-radius: 0;
  color: white;
  font-size: 18px;
  margin: 0 50px;
  padding: 0 30px;
  position: relative;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper .btn-wrapper .btn-border {
    font-size: 15px;
    margin: 0 20px;
    padding: 0 20px;
  }
}
.header-img-wrapper .btn-wrapper .btn-border:before, .header-img-wrapper .btn-wrapper .btn-border:after {
  color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  content: "";
  transition: all 0.3s;
  background: white;
}
@media screen and (max-width: 520px) {
  .header-img-wrapper .btn-wrapper .btn-border:before, .header-img-wrapper .btn-wrapper .btn-border:after {
    height: 1px;
  }
}
.header-img-wrapper .btn-wrapper .btn-border:before {
  top: -18%;
  left: 0;
}
.header-img-wrapper .btn-wrapper .btn-border:after {
  right: 0;
  bottom: -18%;
}
.header-img-wrapper .btn-wrapper .btn-border:hover:before, .header-img-wrapper .btn-wrapper .btn-border:hover:after {
  width: 0;
}

/*================================
    login.html
=================================*/
.wide-form-wrapper {
  margin: 80px auto;
  width: 1000px;
  height: 600px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 3px gray;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper {
    margin: 50px auto;
    width: 80%;
    box-shadow: none;
    height: calc(100vh - 350px);
  }
}
.wide-form-wrapper .wide-form-container {
  display: flex;
  height: 100%;
}
.wide-form-wrapper .wide-form-container .wide-form-img {
  position: relative;
  width: 50%;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-img {
    display: none;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
.wide-form-wrapper .wide-form-container .wide-form-img p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.wide-form-wrapper .wide-form-container .wide-form-content {
  width: 50%;
  box-sizing: border-box;
  padding: 70px 0 70px 50px;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 10px;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content h1 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content section {
  color: red;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content section {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div {
    width: 90%;
    margin: 0 auto;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content div p.form_name {
  font-size: 15px;
  font-family: Helvetica;
  font-weight: lighter;
  color: #7B7B7B;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div p.form_name {
    font-size: 14px;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content div p.password_message {
  font-size: 12px;
  font-family: Helvetica;
  font-weight: lighter;
  color: #7B7B7B;
  margin-top: 5px;
}
.wide-form-wrapper .wide-form-container .wide-form-content div input[type=text] {
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #7B7B7B;
  padding: 4px 8px;
  font-size: 18px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div input[type=text] {
    width: 100%;
    height: 35px;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content div input[type=password] {
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #7B7B7B;
  padding: 4px 8px;
  font-size: 18px;
  margin-bottom: 80px;
  box-sizing: border-box;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div input[type=password] {
    width: 100%;
    height: 35px;
    margin-bottom: 50px;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content div input[type=submit] {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 20px;
  width: 350px;
  height: 50px;
  background: #BFBFFF;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div input[type=submit] {
    font-size: 16px;
    width: 100%;
    height: 43px;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content div:last-child {
  width: 350px;
  text-align: right;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div:last-child {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div:last-child {
    width: 90%;
  }
}
.wide-form-wrapper .wide-form-container .wide-form-content div:last-child a {
  color: #81a3e3;
  text-decoration: underline;
}
.wide-form-wrapper .wide-form-container .wide-form-content div:last-child a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .wide-form-wrapper .wide-form-container .wide-form-content div:last-child a {
    font-size: 15px;
  }
}

/*================================
    signup.html
=================================*/
/*================================
    movie/index.html
=================================*/
.movie-list-page {
  position: relative;
}
@media screen and (max-width: 520px) {
  .movie-list-page {
    background: white;
  }
}
.movie-list-page section {
  position: absolute;
  padding: 10px;
  width: 100%;
  color: white;
  animation: fadeOut 2.8s ease 0s 1 normal;
  opacity: 0;
  z-index: 100;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.movie-list-page section.add_msg {
  background: #3ec63c;
}
.movie-list-page section.edit_msg {
  background: #447eff;
}
.movie-list-page section.delete_msg {
  background: #ff4444;
}

.movie-list-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 40px auto 60px;
  z-index: 10;
}
@media screen and (max-width: 520px) {
  .movie-list-page-container {
    width: 95%;
    margin: 25px auto 35px;
  }
}

.search-form {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 1px grey;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 400px;
  overflow: hidden;
  background: white;
  align-self: flex-start;
  margin-bottom: 20px;
  margin-left: 55px;
}
@media screen and (max-width: 520px) {
  .search-form {
    width: 100%;
    margin-left: 0;
  }
}
.search-form input[type=text] {
  border: none;
  height: 2em;
  width: 330px;
}
.search-form input[type=text]:focus {
  outline: 0;
}
.search-form input[type=submit] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #c2c2c2;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline: none;
}

.table-wrapper {
  width: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px gray;
  overflow: hidden;
}
@media screen and (max-width: 520px) {
  .table-wrapper {
    box-shadow: none;
  }
}
.table-wrapper .table-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.table-wrapper .table-container .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6F6F6F;
  padding: 30px 60px 25px;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-header {
    padding: 0;
    margin-bottom: 20px;
  }
}
.table-wrapper .table-container .table-header p {
  font-size: 23px;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-header p {
    font-size: 20px;
    padding-left: 15px;
  }
}
.table-wrapper .table-container .table-header a {
  display: block;
  display: flex;
  width: 130px;
  height: 50px;
  background: #BFBFFF;
  color: white;
  border: none;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.table-wrapper .table-container .table-header a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-header a {
    width: 100px;
    height: 40px;
    margin-right: 10px;
  }
}
.table-wrapper .table-container .table-header a i {
  font-size: 20px;
  padding-right: 8px;
}
.table-wrapper .table-container .table-header a span {
  font-size: 18px;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-header a span {
    font-size: 15px;
  }
}
.table-wrapper .table-container .genre-filter-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 50px 20px;
  overflow-x: auto;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
}
.table-wrapper .table-container .genre-filter-container::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .genre-filter-container {
    margin: 0 0 15px;
  }
}
.table-wrapper .table-container .genre-filter-container .genre-filter-item {
  margin: 0 10px;
  border: solid 1px #dadada;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  width: 104px;
  text-align: center;
  color: #6F6F6F;
  flex: 0 0 auto;
  font-size: 13px;
}
.table-wrapper .table-container .genre-filter-container .genre-filter-item.active {
  background: black;
  color: white;
}
.table-wrapper .table-container .genre-filter-container .genre-filter-item:hover {
  transition: all 0.5s;
  background: black;
  color: white;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .genre-filter-container .genre-filter-item {
    width: 96px;
    font-size: 12px;
  }
}
.table-wrapper .table-container .table-row {
  display: flex;
  border-bottom: solid 1px #ebebeb;
  padding: 25px 0;
  position: relative;
}
.table-wrapper .table-container .table-row p {
  width: 18%;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-row p {
    width: 33.3333333333%;
  }
}
.table-wrapper .table-container .table-row p:last-child {
  width: 28%;
}
.table-wrapper .table-container .table-row p a {
  z-index: 100;
  color: #6F6F6F;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-row p:nth-of-type(3), .table-wrapper .table-container .table-row p:nth-of-type(5) {
    display: none;
  }
}
.table-wrapper .table-container .table-row.def-row {
  color: #6F6F6F;
  border-top: solid 1px #ebebeb;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-row.def-row {
    padding: 15px;
  }
}
.table-wrapper .table-container .table-row.movie-row {
  display: none;
}
.table-wrapper .table-container .table-row.movie-row.show {
  display: flex;
}
.table-wrapper .table-container .table-row.movie-row:last-child {
  border-bottom: none;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .table-row.movie-row:last-child {
    border-bottom: solid 1px #ebebeb;
  }
}
.table-wrapper .table-container .table-row .modal-open {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.table-wrapper .table-container .table-row .modal-open:hover {
  opacity: 0.1;
  background-color: #000000;
}
.table-wrapper .table-container .emp-msg {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .table-wrapper .table-container .emp-msg {
    font-size: 14px;
  }
}

tr {
  position: relative;
}
tr .movie-edit-link {
  width: 0;
  min-width: 0;
  border: 0;
  padding: 0;
}
tr .movie-edit-link a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*================================
    movie/detail.html
=================================*/
.detail-wrapper {
  max-width: 650px;
  width: 90%;
  margin: 80px auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px gray;
  box-sizing: border-box;
  padding: 60px 75px;
}
@media screen and (max-width: 520px) {
  .detail-wrapper {
    margin: 50px auto;
    padding: 40px 10px;
  }
}
.detail-wrapper .detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.detail-wrapper .detail-container h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .detail-wrapper .detail-container h1 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.detail-wrapper .detail-container div {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-left: 15px;
}
@media screen and (max-width: 520px) {
  .detail-wrapper .detail-container div {
    margin-bottom: 15px;
  }
}
.detail-wrapper .detail-container div .title {
  font-size: 16px;
  margin-bottom: 3px;
}
.detail-wrapper .detail-container div .content {
  font-size: 16px;
}
.detail-wrapper .detail-container div .content .star5_rating {
  font-size: 20px;
}
.detail-wrapper .detail-container a {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 18px;
  width: 140px;
  background: #BFBFFF;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  padding: 10px 0;
  text-align: center;
}
.detail-wrapper .detail-container a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .detail-wrapper .detail-container a {
    font-size: 16px;
    width: 80%;
    height: 35px;
    align-self: center;
    padding-top: 12px;
  }
}

/*================================
    movie/add.html
    movie/edit.html
=================================*/
.form-wrapper {
  max-width: 650px;
  width: 90%;
  margin: 80px auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px gray;
  box-sizing: border-box;
  padding: 60px 75px;
}
@media screen and (max-width: 520px) {
  .form-wrapper {
    margin: 50px auto;
    padding: 40px 10px;
  }
}
.form-wrapper .form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form-wrapper .form-container h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container h1 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
  }
}
.form-wrapper .form-container section {
  color: red;
  margin-bottom: 10px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container section {
    width: 90%;
    margin: 0 auto;
  }
}
.form-wrapper .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form-wrapper .form-container form p {
  font-size: 16px;
  color: #7B7B7B;
  margin-bottom: 3px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form p {
    font-size: 14px;
  }
}
.form-wrapper .form-container form p.err {
  color: red;
  font-size: 13px;
}
.form-wrapper .form-container form .input-area {
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form .input-area {
    margin-bottom: 10px;
  }
}
.form-wrapper .form-container form input[type=date] {
  width: 200px;
  border: solid 1px rgb(118, 118, 118);
  border-radius: 5px;
  padding: 5px 8px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form input[type=date] {
    width: 50%;
    height: 25px;
  }
}
.form-wrapper .form-container form select {
  width: 200px;
  border: solid 1px rgb(118, 118, 118);
  border-radius: 5px;
  padding: 5px 8px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form select {
    width: 50%;
    height: 35px;
  }
}
.form-wrapper .form-container form input[type=text] {
  width: 100%;
  border: solid 1px rgb(118, 118, 118);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 8px;
}
.form-wrapper .form-container form textarea {
  width: 100%;
  height: 80px;
  border: solid 1px rgb(118, 118, 118);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 8px;
}
.form-wrapper .form-container form input[type=submit] {
  align-self: flex-end;
  font-weight: bolder;
  font-size: 18px;
  width: 130px;
  height: 50px;
  background: #BFBFFF;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.form-wrapper .form-container form input[type=submit]:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form input[type=submit] {
    font-size: 16px;
    width: 80%;
    height: 43px;
    align-self: center;
  }
}
.form-wrapper .form-container form .btn-wrap {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form .btn-wrap {
    justify-content: center;
  }
}
.form-wrapper .form-container form .btn-wrap input[type=submit] {
  margin-right: 15px;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form .btn-wrap input[type=submit] {
    width: 30%;
  }
}
.form-wrapper .form-container form .btn-wrap a {
  font-weight: bolder;
  font-size: 18px;
  width: 130px;
  background: #FFBFBF;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 0;
  padding-top: 9px;
  text-align: center;
}
.form-wrapper .form-container form .btn-wrap a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .form-wrapper .form-container form .btn-wrap a {
    font-size: 16px;
    width: 30%;
  }
}

/*====== 星評価 ======*/
.evaluation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: -5px;
}

.evaluation input[type=radio] {
  display: none;
}

.evaluation label {
  position: relative;
  color: gray;
  cursor: pointer;
  padding: 0 2px;
  font-size: 25px;
}

.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type=radio]:checked ~ label {
  color: #ffcc00;
}

/*================================
    star5_rating
=================================*/
.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after {
  content: "★★★★★";
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32;
  /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
  width: 100%;
}

/* 星5 */
.star5_rating[data-rate="4"]:after {
  width: 80%;
}

/* 星4 */
.star5_rating[data-rate="3"]:after {
  width: 60%;
}

/* 星3 */
.star5_rating[data-rate="2"]:after {
  width: 40%;
}

/* 星2 */
.star5_rating[data-rate="1"]:after {
  width: 20%;
}

/* 星1 */
.star5_rating[data-rate="0"]:after {
  width: 0%;
}

/* 星0 */
/* ボタンのスタイル */
.page-top {
  /* buttonタグのリセットCSS */
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  /* ボタンの装飾 */
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #BFBFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  pointer-events: none;
  opacity: 0;
}
.page-top.show {
  pointer-events: auto;
  opacity: 1;
}

/* 矢印のスタイル */
.page-top::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-bottom: -6px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(-45deg);
}

/* ホバー時のスタイル */
.page-top:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
