<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment"></head>
<body>
    <header th:replace="common/header :: header_fragment"></header>
    <main>
        <div class="wide-form-wrapper">
            <div class="wide-form-container">
                <div class="wide-form-img">
                    <img th:src="@{/img/login_background.jpg}"/>
                    <p>Welcome Back</p>
                </div>
                <div class="wide-form-content">
                    <h1>ログイン</h1>
                    <section th:if="${param.error}">ユーザ名、またはパスワードが正しくありません</section>
                    <form th:action="@{/login}" method="post">
                        <div>
                            <p class="form_name">User Name</p>
                            <input type="text" name="userName" required="required" autofocus="autofocus">
                        </div>
                        <div>
                            <p class="form_name">Password</p>
                            <input type="password" name="password" required="required" autofocus="autofocus">
                        </div>
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="common/footer :: footer_fragment"></footer>
</body>
</html>