<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment"></head>
<body>
    <header th:replace="common/header :: header_fragment"></header>
    <main>
        <div class="wide-form-wrapper">
            <div class="wide-form-container">
                <div class="wide-form-img">
                    <img th:src="@{/img/signup_background.jpg}"/>
                    <p>Welcome to movies</p>
                </div>
                <div class="wide-form-content">
                    <h1>新規登録</h1>
                    <p th:if="${errorMsg != null}" th:text="${errorMsg}"></p>
                    <form th:action="@{/signup}" method="post" th:object="${accountForm}">
                        <div>
                            <p class="form_name">User Name</p>
                            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:errorclass="err" ></p>
                            <input type="text" th:field="*{userName}" autofocus="autofocus">
                        </div>
                        <div>
                            <p class="form_name">Password</p>
                            <p class="password_message">4文字以上の半角英数記号</p>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err" ></p>
                            <input type="password" th:field="*{password}" autofocus="autofocus">
                        </div>
                        <input type="submit" value="Signup">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="common/footer :: footer_fragment"></footer>
</body>
</html>