/*================================
    Variables
=================================*/

/*====== カラーパレット ======*/
$back-ground-color: #F2F2F2; // 背景色
$btn-color: #BFBFFF; // ボタン色

$breakpoint-mobile: 520px;
$content-width: 1200px;

/*================================
    Functions
=================================*/
@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile){
    @content;
  }
}

/*================================
    General
=================================*/

body {
  font-family: "ヒラギノ角ゴシック体", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main {
  flex: 1;
  background: $back-ground-color;
}

a {
  text-decoration: none;
  color: black;
}

.btn-wrap {
  display: flex;
  justify-content: center;

  a {
    color: #000;
    padding: 15px 60px;
    border: 1px solid;
    font-size: 15px;
    letter-spacing: 0.1em;
  }
}

.err{
  color: red;
  font-size: 13px;
}

/*================================
    header
=================================*/
header {

  .pc-header-wrapper {
    height: 100px;
    background: #fff;
    padding-left: 150px;
    padding-right: 150px;
    border-bottom: solid 1px #e3e3e3;

    @include mobile {
      display: none;
    }

    .pc-header-container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;

      @include mobile {
        display: none;
      }

      .header-logo {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 30px;
      }

      .nav-global {
        display: flex;
        padding-top: 25px;

        .nav-global-item {
          padding-left: 50px;
          font-size: 15px;

          input[type="submit"] {
            background: white;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .sp-header-wrapper {
    display: none;

    @include mobile {
      display: block;
      height: 100px;
      background: #fff;
      padding-left: 20px;
      padding-right: 20px;
      border-bottom: solid 1px #e3e3e3;
    }

    .sp-header-container {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;

      .header-logo {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 25px;
      }

      .menu-btn {
        font-size: 23px;
      }

      .nav-global {
        display: flex;
        padding-top: 15px;

        .nav-global-item {
          padding-left: 25px;
          font-size: 14px;

          input[type="submit"] {
            background: white;
            border: none;
          }
        }
      }
    }
  }
}

.menu-wrapper {
  display: none;

  @include mobile {
    display: block;
    position: fixed;
    right: 0;
    width: 60%;
    height: 100%;
    background: white;
    overflow-y: scroll;
    transform: translateX(800px);
    pointer-events: none;
    transition: transform .8s;
    z-index: 200;

    &.show {
      transition: transform .5s;
      pointer-events: auto;
      transform: none;
    }

    .menu-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .menu-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px black;
        padding-bottom: 10px;

        .menu-logo {
          font-size: 25px;
          font-family: Helvetica;
          font-weight: bold;
          padding-left: 18px;
          padding-top: 25px;
        }

        .menu-close {
          font-size: 25px;
          padding-right: 20px;
          padding-top: 30px;
        }
      }

      .nav-global {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        li {
          padding: 15px 0;
          border-bottom: solid 1px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

.overlay {
  display: none;

  @include mobile {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease 0s;
  }

  &.show {
    opacity: 0.8;
    pointer-events: auto;
  }
}

/*================================
    footer
=================================*/
footer {
  width: 100%;
  height: 150px;
  background: #fff;

  @include mobile {
    height: 150px;
  }

  .footer-wrapper {

    @include mobile {
      border-top: solid 1px #e3e3e3;
    }

    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;

      @include mobile {
        padding-top: 70px;
      }

      .footer-logo {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 25px;

        @include mobile {
          font-size: 20px;
        }
      }
      .footer-copyright {
        font-size: 15px;

        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
}

/*================================
    index.html
=================================*/
.header-img-wrapper {
  position: relative;
  width: 100%;
  height: 800px;

  @include mobile {
    height: calc(100vh - 100px);
  }

  .text-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: white;
    top: 33%;

    h2 {
      font-size: 45px;

      @include mobile {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }

    h4 {
      font-size: 28px;

      @include mobile {
        font-size: 20px;
      }
    }
  }

  .img-wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn-wrapper {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 57%;
    display: flex;
    justify-content: center;

    @include mobile {
      top: 51%;
    }

    .btn-border {
      border-radius: 0;
      color: white;
      font-size: 18px;
      margin: 0 50px;
      padding: 0 30px;
      position: relative;

      @include mobile {
        font-size: 15px;
        margin: 0 30px;
      }

      &:before,
      &:after {
        color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        content: '';
        transition: all .3s;
        background: white;
      }

      &:before {
        top: -18%;
        left: 0;
      }

      &:after {
        right: 0;
        bottom: -18%;
      }

      &:hover:before,
      &:hover:after {
        width: 0;
      }

    }
  }
}

/*================================
    login.html
=================================*/
.wide-form-wrapper {
  margin:80px auto;
  width: 1000px;
  height: 600px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 3px gray;

  @include mobile {
    margin: 50px auto;
    width: 80%;
    box-shadow: none;
    height: calc(100vh - 350px);
  }

  .wide-form-container {
    display: flex;
    height: 100%;

    .wide-form-img {
      position: relative;
      width: 50%;

      @include mobile {
        display: none;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 0 0 20px;
      }

      p {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Helvetica;
        color: white;
        font-size: 40px;
        font-weight: bold;
      }
    }

    .wide-form-content {
      width: 50%;
      box-sizing: border-box;
      padding: 70px 0 70px 50px;

      @include mobile {
        width: 100%;
        box-sizing: border-box;
        padding: 40px 10px;
      }

      h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;

        @include mobile {
          font-size: 23px;
          text-align: center;
          margin-bottom: 30px;
        }
      }

      section {
        color: red;

        @include mobile {
          width: 90%;
          margin: 0 auto;
        }
      }

      div {
        @include mobile {
          width: 90%;
          margin: 0 auto;
        }

        p.form_name {
          font-size: 15px;
          font-family: Helvetica;
          font-weight: lighter;
          color: #7B7B7B;

          @include mobile {
            font-size: 14px;
          }
        }

        p.password_message {
          font-size: 12px;
          font-family: Helvetica;
          font-weight: lighter;
          color: #7B7B7B;
          margin-top: 5px;
        }

        input[type="text"] {
          width: 350px;
          height: 40px;
          border-radius: 3px;
          border: 1px solid #7B7B7B;
          padding: 4px 8px;
          font-size: 18px;
          margin-bottom: 20px;
          box-sizing: border-box;

          @include mobile {
            width: 100%;
            height: 35px;
          }
        }

        input[type="password"] {
          width: 350px;
          height: 40px;
          border-radius: 3px;
          border: 1px solid #7B7B7B;
          padding: 4px 8px;
          font-size: 18px;
          margin-bottom: 80px;
          box-sizing: border-box;

          @include mobile {
            width: 100%;
            height: 35px;
            margin-bottom: 50px;
          }
        }

        input[type="submit"] {
          font-family: Helvetica;
          font-weight: bolder;
          font-size: 20px;
          width: 350px;
          height: 50px;
          background: $btn-color;
          color: white;
          border-radius: 3px;
          border: none;
          cursor: pointer;
          margin-bottom: 20px;

          @include mobile {
            font-size: 16px;
            width: 100%;
            height: 43px;
          }
        }

        &:last-child {
          width: 350px;
          text-align: right;

          @include mobile {
            margin-bottom: 30px;
            text-align: center;
          }

          @include mobile {
            width: 90%;
          }

          a {
            color: #81a3e3;
            text-decoration: underline;

            @include mobile {
              font-size: 15px;
            }
          }
        }

      }
    }
  }
}

/*================================
    signup.html
=================================*/


/*================================
    movie/index.html
=================================*/

.movie-list-page {
  position: relative;

  @include mobile {
    background: white;
  }

  section {
    position: absolute;
    padding: 10px;
    width: 100%;
    color: white;
    animation: fadeOut 2.8s ease 0s 1 normal;
    opacity: 0;

    @keyframes fadeOut {
      0% {opacity: 1; }
      30% {opacity: 1;}
      100% {opacity: 0; }
    }

    &.add_msg {
      background: #3ec63c;
    }

    &.edit_msg {
      background: #447eff;
    }

    &.delete_msg {
      background: #ff4444;
    }
  }
}

.table-wrapper {
  width: 80%;
  margin: 80px auto;
  background: white;
  border-radius: 20px;
  //border: solid 1px #C7C7C7;
  box-shadow: 0 0 1px gray;
  overflow: hidden;

  @include mobile {
    width: 95%;
    box-shadow: none;
    margin: 35px auto;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6F6F6F;
      padding: 30px 60px;

      @include mobile {
        padding: 0;
        margin-bottom: 20px;
      }

      p {
        font-size: 23px;

        @include mobile {
          font-size: 20px;
          padding-left: 15px;
        }
      }

      a {
        display: block;
        display: flex;
        width: 130px;
        height: 50px;
        background: #BFBFFF;
        color: white;
        border: none;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include mobile {
          width: 100px;
          height: 40px;
          margin-right: 10px;
        }

         i {
           font-size: 20px;
           padding-right: 8px;
         }

        span {
          font-size: 18px;

          @include mobile {
            font-size: 15px;
          }
        }
      }
    }

    .table-row {
      display: flex;
      border-bottom: solid 1px #C7C7C7;
      padding: 25px 0;
      position: relative;

      p {
        width: 18%;
        text-align: center;

        @include mobile {
          width: calc(100% / 3);
        }

        &:last-child {
          width: 28%;
        }

        a {
          z-index: 100;
          color: #6F6F6F;
        }

        @include mobile {
          &:nth-of-type(3), &:nth-of-type(5)  {
            display: none;
          }
        }
      }

      &.def-row {
        color: #6F6F6F;
        border-top: solid 1px #C7C7C7;

        @include mobile {
          padding: 15px;
        }
      }

      &.movie-row {

        &:last-child {
          border-bottom: none;

          @include mobile {
            border-bottom: solid 1px #C7C7C7;
          }
        }
      }

      .modal-open {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;

        &:hover {
          opacity: 0.1;
          background-color: #000000;
        }
      }
    }

    .emp-msg {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 30px;

      @include mobile {
        font-size: 14px;
      }
    }
  }
}




tr {
  position: relative;

  .movie-edit-link {
    width: 0;
    min-width: 0;
    border: 0;
    padding: 0;

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

/*================================
    movie/detail.html
=================================*/
.detail-wrapper {
  max-width: 650px;
  width: 90%;
  margin: 80px auto;
  background: white;
  border-radius: 20px;
  //border: solid 1px #C7C7C7;
  box-shadow: 0 0 1px gray;
  box-sizing: border-box;
  padding: 60px 75px;

  @include mobile {
    margin: 50px auto;
    padding: 40px 10px;
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;

      @include mobile {
        font-size: 23px;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    div{
      margin-bottom: 20px;
      box-sizing: border-box;
      padding-left: 15px;

      @include mobile {
        margin-bottom: 15px;
      }

      .title {
        font-size: 16px;
        margin-bottom: 3px;
      }

      .content {
        font-size: 16px;
      }

      .content .star5_rating {
        font-size: 20px;
      }
    }

    a {
      align-self: flex-end;
      font-weight: bolder;
      font-size: 20px;
      width: 150px;
      background: $btn-color;
      color: white;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      margin-top: 40px;
      padding: 6px 0;
      text-align: center;

      @include mobile {
        font-size: 16px;
        width: 80%;
        height: 35px;
        align-self: center;
        padding-top: 12px;
      }
    }
  }
}

/*================================
    movie/add.html
    movie/edit.html
=================================*/
.form-wrapper {
  max-width: 650px;
  width: 90%;
  margin: 80px auto;
  background: white;
  border-radius: 20px;
  //border: solid 1px #C7C7C7;
  box-shadow: 0 0 1px gray;
  box-sizing: border-box;
  padding: 60px 75px;

  @include mobile {
    margin: 50px auto;
    padding: 40px 10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;

      @include mobile {
        font-size: 23px;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p {
        font-size: 16px;
        color: #7B7B7B;
        margin-bottom: 3px;

        @include mobile {
          font-size: 14px;
        }

        &.err{
          color: red;
          font-size: 13px;
        }
      }

      .input-area {
        margin-bottom: 20px;

        @include mobile {
          margin-bottom: 10px;
        }
      }

      input[type="date"] {
        width: 200px;
        border: solid 1px rgb(118, 118, 118);
        border-radius: 5px;
        padding: 5px 8px;

        @include mobile {
          width: 50%;
          height: 25px;
        }
      }

      select {
        width: 200px;
        border: solid 1px rgb(118, 118, 118);
        border-radius: 5px;
        padding: 5px 8px;

        @include mobile {
          width: 50%;
          height: 35px;
        }
      }

      input[type="text"] {
        width: 100%;
        border: solid 1px rgb(118, 118, 118);
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px 8px;
      }

      textarea {
        width: 100%;
        height: 80px;
        border: solid 1px rgb(118, 118, 118);
        border-radius: 5px;
        box-sizing: border-box;
        padding: 5px 8px;
      }

      input[type="submit"] {
        align-self: flex-end;
        font-weight: bolder;
        font-size: 20px;
        width: 150px;
        height: 50px;
        background: $btn-color;
        color: white;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        margin-top: 20px;

        @include mobile {
          font-size: 16px;
          width: 80%;
          height: 43px;
          align-self: center;
        }
      }

      .btn-wrap {
        display: flex;
        justify-content: flex-end;

        @include mobile {
          justify-content: center;
        }

        input[type="submit"] {
          margin-right: 15px;

          @include mobile {
            width: 30%;
          }
        }

        a {
          font-weight: bolder;
          font-size: 20px;
          width: 150px;
          background: #FFBFBF;
          color: white;
          border-radius: 3px;
          border: none;
          cursor: pointer;
          margin-top: 20px;
          padding: 0;
          padding-top: 6px;
          text-align: center;

          @include mobile {
            font-size: 16px;
            width: 30%;
          }
        }
      }
    }
  }
}

/*====== 星評価 ======*/
.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: -5px;
}

.evaluation input[type='radio']{
  display: none;
}

.evaluation label{
  position: relative;
  color: gray;
  cursor: pointer;
  padding: 0 2px;
  font-size: 25px;
}

.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}

/*================================
    star5_rating
=================================*/
.star5_rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
  content: '★★★★★';
}

.star5_rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */