/*================================
    Variables
=================================*/

/*====== カラーパレット ======*/
$back-ground-color: #F2F2F2; // 背景色
$btn-color: #BFBFFF; // ボタン色

$breakpoint-mobile: 520px;
$content-width: 1200px;

/*================================
    Functions
=================================*/
@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile){
    @content;
  }
}

/*================================
    General
=================================*/

body {
  font-family: "ヒラギノ角ゴシック体", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.75;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main {
  flex: 1;
  background: $back-ground-color;
}

a {
  text-decoration: none;
  color: black;
}

.btn-wrap {
  display: flex;
  justify-content: center;

  a {
    color: #000;
    padding: 15px 60px;
    border: 1px solid;
    font-size: 15px;
    letter-spacing: 0.1em;
  }
}

.err{
  color: red;
  font-size: 12px;
}

/*================================
    header
=================================*/
header {
  width: 100%;
  height: 100px;
  background: #fff;

  .header-wrapper {
    padding-left: 150px;
    padding-right: 150px;

    .header-container {
      display: flex;
      justify-content: space-between;

      .header-logo {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 30px;
        margin-top: 30px;
      }

      .nav-global {
        font-size: 15px;
        display: flex;
        margin-top: 45px;

        .nav-global-item {
          padding-left: 50px;

          input[type="submit"] {
            background: white;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*================================
    footer
=================================*/
footer {
  width: 100%;
  height: 220px;
  background: #fff;

  .footer-wrapper {
    padding-top: 130px;
    padding-bottom: 30px;

    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-logo {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 25px;
      }
      .footer-copyright {
        font-size: 15px;
      }
    }
  }
}

/*================================
    index.html
=================================*/
.header-img-wrapper {
  position: relative;
  width: 100%;
  height: 800px;

  .text-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: white;
    top: 35%;

    //h1 {
    //  font-size: 80px;
    //  font-family: Helvetica;
    //  font-weight: bold;
    //}

    h2 {
      font-size: 60px;
    }

    h4 {
      font-size: 40px;
    }
  }

  .img-wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

/*================================
    login.html
=================================*/
.wide-form-wrapper {
  margin:80px auto;
  width: 1000px;
  height: 600px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 3px gray;

  .wide-form-container {
    display: flex;
    height: 100%;

    .wide-form-img {
      position: relative;
      width: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px 0 0 20px;
      }

      p {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Helvetica;
        color: white;
        font-size: 40px;
        font-weight: bold;
      }
    }

    .wide-form-content {
      width: 50%;
      box-sizing: border-box;
      padding: 70px 0 70px 50px;

      h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
      }

      section {
        color: red;
      }

      p.form_name {
        font-size: 15px;
        font-family: Helvetica;
        font-weight: lighter;
        color: #7B7B7B;
      }

      p.password_message {
        font-size: 12px;
        font-family: Helvetica;
        font-weight: lighter;
        color: #7B7B7B;
        margin-top: 5px;
      }

      input[type="text"] {
        width: 350px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #7B7B7B;
        padding: 4px 8px;
        font-size: 18px;
        margin-bottom: 20px;
        box-sizing: border-box;
      }

      input[type="password"] {
        width: 350px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #7B7B7B;
        padding: 4px 8px;
        font-size: 18px;
        margin-bottom: 80px;
        box-sizing: border-box;
      }

      input[type="submit"] {
        font-family: Helvetica;
        font-weight: bolder;
        font-size: 20px;
        width: 350px;
        height: 50px;
        background: $btn-color;
        color: white;
        border-radius: 3px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

/*================================
    signup.html
=================================*/


/*================================
    movie/index.html
=================================*/

.table-wrapper {
  width: 80%;
  margin: 80px auto;
  background: white;
  border-radius: 20px;
  border: solid 1px #C7C7C7;

  .table-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6F6F6F;
      padding: 30px 60px;

      p {
        font-size: 23px;
      }

      a {
        display: block;
        display: flex;
        width: 130px;
        height: 50px;
        background: #BFBFFF;
        color: white;
        border: none;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

         i {
           font-size: 20px;
           padding-right: 8px;
         }

        span {
          font-size: 18px;
        }
      }
    }

    .table-row {
      display: flex;
      border-bottom: solid 1px #C7C7C7;
      padding: 25px 0;
      position: relative;

      p {
        width: 18%;
        text-align: center;

        &:last-child {
          width: 28%;
        }

        a {
          z-index: 100;
          color: #6F6F6F;
        }
      }

      &.def-row {
        color: #6F6F6F;
        border-top: solid 1px #C7C7C7;
      }

      &.movie-row {

        &:last-child {
          border-bottom: none;
        }
      }

      .modal-open {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;

        &:hover {
          opacity: 0.1;
          background-color: #000000;
        }
      }
    }

    .emp-msg {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }
}




tr {
  position: relative;

  .movie-edit-link {
    width: 0;
    min-width: 0;
    border: 0;
    padding: 0;

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}



/*================================
    movie/add.html
=================================*/

.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.evaluation input[type='radio']{
  display: none;
}

.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}

.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}

.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}

/*================================
    star5_rating
=================================*/
.star5_rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
  content: '★★★★★';
}

.star5_rating:after{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */